body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px;
  border-bottom: 2px solid gray;
}

.page-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 25px;
}
