.menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

.link {
  display: inline-block;
  padding: 8px 15px;
  border: 2px solid skyblue;
  color: #000;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    background-color: skyblue;
  }

  &:global(.active) {
    background-color: skyblue;
    color: #000;
  }
}
